.card-indicador {
  background-color: #121212;
  color: #fff;
}

.container-angular {
  height: 100%;
  padding-left: 35px;
  padding-top:10px;
  background-image: url("../../statics/bg.jpg");
}

.container-angular-title {
  padding-left: 35px;
  padding-top: 10px
}
table {
  width: 50%;
}
.aligned-with-icon{
  position: relative;
  top: -5px;
}


.item-col{
  padding: 12px; text-align: center; display: block ruby
}