<div class="container-angular">
  <h1 class="container-angular-title" style="font-weight: bold">Indicadores</h1>
  <div class="row bg-angular">
    <div
      class="col-lg-3 col-md-3 col-sm-6"
      *ngFor="let indicador of indicadores"
      style="margin-bottom: 20px"
    >
      <mat-card *ngIf="loader" class="card-indicador"
        ><mat-spinner></mat-spinner>
      </mat-card>

      <mat-card *ngIf="!loader" class="card-indicador">
        <mat-card-header>
          <mat-card-title>{{ indicador[1].nombre }}</mat-card-title>
          <mat-card-subtitle style="color: #fff"
            >en {{ indicador[1].unidad_medida }} al
            {{ fecha }}</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content style="margin: 0 16px">
          <p *ngIf="indicador[1].unidad_medida === 'Porcentaje'">
            {{ indicador[1].valor }} %
          </p>
          <p *ngIf="indicador[1].unidad_medida !== 'Porcentaje'">
            ${{ indicador[1].valor }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/money/{{ indicador[1].codigo }}">
            Más información
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
